// scss - css3
// sass - css
@import "mixin";
@import "var";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//=======================

html{
    font-size: 62.5%;
}

// $bg-color: rgb(52, 45, 65);

// @mixin flexprob{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
// }

// @mixin commoncode($par1, $par2) {
//     color: rgb(231, 40, 88);
//     font-size: 5rem + 5rem;
//     letter-spacing: $par1;
//     text-transform: $par2;
    // letter-spacing: .3rem;
    // text-transform: capitalize;
// }
//===============================


//1:  operators
//2: variables
//3: nesting
//4: mixing
//5: parameters
//6: partials(underscore files)

.main_header{
    width: 100vw;
    height: 100vh;
    @include flexprob;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    background-color: $bg-color;

    h1{
        // color: red;
        // font-size: 5rem + 5rem;
        // letter-spacing: .3rem;
        @include commoncode(1.5rem, capitalize);
        // letter-spacing: 1.5rem;
        
        &:hover{
            color: aliceblue;
        }

        &::after{
            content: "channel";
        }
    }

    
    p{
        @include commoncode(0.3rem, lowercase);
        // color: red;
        // font-size: 5rem + 5rem;
        // letter-spacing: .3rem;

        &:hover{
            color: aliceblue;
        }
    }
    // p:hover{
    //     color: aliceblue;
    // }
    
}

// h1{
//     color: red;
//     font-size: 5rem + 5rem;
// }

// p{
//     color: red;
//     font-size: 5rem + 5rem;
// }